:root {
  --primary-color: #1a215e;
  --secondary-color: #00dfab;
}

.headline {
  text-align: center;
  font-size: 3rem;
}

.main-layout {
  padding: 0 1rem 1rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
